body {
    margin: 5px;
    background-image: url(../img/background_space.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    color: #00D1FF;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 1500px;
}

.content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.header {
    color: #00D1FF;
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
}

#planets-slide {
    margin: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    align-items: center;
}

.fig-caption,
h2 {
    text-align: center;
}

.above-all-panel {
    margin: 10px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    left: 20%;
    right: 20%;
}

.planet {
    margin: 5px;
}

.planet:hover {
    /*border: 1px solid grey;*/
}

.planet img {
    display: block;
    height: 240px;
    min-width: 240px;
    opacity: 1;
}

.planet:hover img {
    opacity: 0.7;
}

.carousel-config {
    border: 3px solid #00D1FF;
}

.carousel-config img {
    width: 1900px;
    height: 800px;
}

.carousel-caption,
.blockquote-footer {
    z-index: 0;
    font-size: 150%;
    color: #00D1FF;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 80px;
    color: #00D1FF;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 80px;
    color: #00D1FF;
}

#rockets-slide {
    margin: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: black;
    justify-items: stretch;
    align-items: stretch;
}

.border-top {
    margin-top: 10px;
    padding-top: 10px;
    border-color: blueviolet !important;
}

.rocket {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    justify-items: center;
    align-items: center;
    border-color: #00D1FF !important;
}

.rocket-image {
    max-height: 310px;
    max-width: 310px;
}

/*
a {
    text-decoration: none;
}

h1,
h3 {
    font-weight: normal;
}

h2 {
    text-align: center;
    font-size: 140%;
    color: dodgerblue;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

header,
nav,
article,
section,
aside,
footer,
details,
figcaption,
figure,
div {
    display: block;
}

ol {
    list-style-position: inside;
}

article {
    padding: 10px;
}

figure 
{
    float: left;
    text-align: center; 
}

figcaption 
{
    color: #fff; 
    margin: auto;
}

figure > a > img {
    height: 280px;
    padding: 10px;
    margin-right: 25px;
}

figure > a > img:hover {
    padding: 7px;
}

#menu {
    margin-top: 12%;
    margin-left: 4%;
    width: 260px;
}


div > a > div {
    color: rgb(131, 131, 131);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    border: 2px outset rgba(70, 0, 181, 1.00);
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 10, 1.00), rgba(39, 46, 110, 1.00), rgba(0, 0, 10, 1.00));
    box-shadow: 0 0 10px rgba(0, 0, 25, 0.7);
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 250px;
    font-family: sans-serif;
    list-style: none;
    
}


div > a > div:hover {
    color: rgba(185, 137, 14, 1.00);
    font-size: 1.1em;
    padding: 6px;
    border: 2px inset rgba(70, 0, 181, 1.00);
    transform: translateX(-3%);
}

div > a > div:active {
    border: 1px inset rgba(70, 0, 181, 1.00);
    padding: 7px;
    transform: translateX(-2%);
}



nav {
    max-height: 400px;
    width: 20%;
    float: left;
    margin-top: 170px;
}

article {
    min-height: 800px;
    margin-top: 105px;
    float: left;
    width: 55%;
}

#photo img {
    width: 500px;
    height: 500px;
}

aside {
    max-height: 400px;
    float: left;
    padding-left: 15px;
    width: 20%;
    margin-top: 115px;
}

footer {
    background-color: #290054;
    width: 100%;
    height: 35px;
    float: left;
    color: #ccc;
    font-family: serif;
    padding-top: 20px;
    text-align: center;
}

iframe {
    border: 2px outset rgba(70, 0, 181, 1.00);
}

.planet img {
    margin: 0 125px;
    /*margin-left: auto;
    margin-right: auto;
}

iframe {
    margin-left: 75px;
}

#photo img {
    margin-bottom: 25px;
    border: 2px outset rgba(70, 0, 181, 1.00);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 150%;
}

q,
cite {
    padding-right: 20px;
    float: right;
}

.font {
    color: #C3D1FF;
    font-family: serif;
    font-size: 120%;
    line-height: 1.6;
}

aside > a > img {
    width: 250px;
    height: 150px;
    margin-left: 25px;
    border: 2px outset rgba(70, 0, 181, 1.00);
}

aside > a > img:hover {
    border-style: inset;
}

aside > a > h3 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 3px;
    font-family: serif;
    color: dodgerblue;
}

aside > a > h3:hover {
    color: darkslateblue;
}

figcaption {
    font-size: 70%;
    text-align: center;
}

figure > a > img {
    float: left;
}

figure > a > img:hover {
    border: 3px solid rgba(70, 0, 181, 1.00);
}

p:first-letter {
    font-size: 130%;
    color: dodgerblue;
    font-family: sans-serif;
}

*/
